.donations-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    border: 1px solid;
    border-radius: 10px;
}

.donations-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.donations-payments {
    display: flex;
    gap: 20px;
}