<div style="display:flex; align-items: center; gap: 48px; border: 1px solid; padding: 10px; border-radius: 10px;">
  <img src="/prof-pic.webp" alt="Extra Long Division" width="128" height="128" style="border-radius: 50%; object-fit: cover;">
  <div style="display: flex; flex-direction: column; gap: 200px">
    <p><a href="https://extralongdivision.com/id/"><b>Extra Long Division</b></a> is a maker of questionably functional things and haver of equally questionable opinions.</p>
  </div>
</div>
<br>