<div style="display:flex; align-items: center; gap: 48px; border: 1px solid; padding: 10px; border-radius: 10px;">
  {{ $ctx := dict
  "page" .
  "relpath" "prof-pic.webp"
  }}
  <img src="{{ (partial "img-relpath2permalink.html" $ctx)  }}" alt="prof-pic" width="128pdpi" height="128dpi" style="border-radius: 50%; object-fit: cover;">
  <div style="display: flex; flex-direction: column; gap: 200px">
    <p><a href="https://extralongdivision.com/id/"><b>Extra Long Division</b></a> is a maker of questionably functional things and haver of equally questionable opinions. <a href="https://cloud.umami.is/q/OqNJhRxBC">Subscribe to my RSS feed</a> if you liked what you read.</p>
  </div>
</div>
<br>